/* 320 - 380 */
@media screen and (max-width: 380px) {
  .container {
    max-width: 290px;
    margin: 0 auto;
  }

  .social {
    //display: none;
  }

  .title {
    font-size: 26px;
    width: 291px;
  }

  .header {
    .container {
      .menu-navicon {
        .menu-navicon-ground {
          background-color: #25252DFF;
          width: 191px;
          //z-index: 9999;
        }
      }
    }
  }

  //Блок 1 Строительство домов и коттеджей под ключ
  .main {
    .menu-navicon {
      //width: calc(67% - 20px);

      .menu-navicon-ground {
        padding-left: calc(71% - 125px);
        .cross {
          img {
            margin-bottom: 45px;
          }
        }

        //ul {
        //  .menu-item {
        //    max-width: 130px;
        //    width: 130px;
        //  }
        //}

        .social {
          .logo-teleg {
            padding: 0 40px 0 30px;
          }
        }
      }
    }

    .header {
      .container {
        .menu-graph {
          padding-left: 0;
        }
      }
    }

    .main-block {
      padding: 147px 0 280px 0;

      .container {
        .main-info {
          //width: auto;
          //text-align: center;

          h1 {
            font-size: 26px;
          }

          .main-text {
            font-size: 14px;
            text-align: center;
            max-width: 268px;
            display: inline-block;
          }

          .main-action {
            .btn {
              max-width: 228px;
            }
          }
        }
      }
    }
  }


  //Блок 2 Наши проекты
  .project-title-block1 {
    margin-bottom: 22px;
  }

  .project-title {
    padding-bottom: 0px;
  }

  .project-gallery-item-one {
    max-width: 290px;
    height: 183px;
  }

  .projects {
    // это свойство устанавливается в script.js
    //padding: 152px 0px 780px 0;
    h2 {
      display: flex;
      margin-left: 15px;
      text-align: left;
    }

    .container {
      display: block;

      .project-block1 {
        max-width: 290px;
        margin-top: -10px;

        .project-gallery-items {
          .project-gallery-item {
            max-width: 290px;
            margin-bottom: 0px;
          }

          .gallery-three {
            grid-column-gap: 16px;
            max-width: 290px;
            margin-top: 10px;

            .project-gallery-item-three {
              width: 87px;
              height: 66px;
            }
          }

        }
      }

      .project-block2 {
        max-width: 290px;
        margin-top: 50px;
        padding-left: 0;

        .project-text {
          font-size: 14px;
          width: 283px;
        }

        .project-advantages-items {
          display: inline-block;
          width: 295px;
          padding: 40px 0;

          .project-advantage {
            width: 85px;
            height: 85px;

            span {
              font-size: 15px;
              //margin: 35px 0 0 -38px;
              width: 68px;
              padding-left: 4px;
            }
          }
        }

        .project-action {
          margin-left: -30px;
        }

        .project-action-download {
          margin-left: -30px;

          a {
            .btn {
              font-size: 15px;
            }
          }
        }
      }

      .modern-house-003 {
        .project-title-block1 {
          padding-left: 17px;
        }

        .project-block1 {
          max-width: 290px;
          top: 1102px;
          padding-left: 17px;

          .project-gallery-items {
            max-width: 290px;

            .project-gallery-item-one {
              max-width: 290px;
            }
          }
        }

        .project-block2 {
          max-width: 290px;
          top: 1300px;
          padding-left: 17px;

          .project-text {
            max-width: 283px;
            padding-top: 30px;
          }

          .project-advantages-items {
            max-width: 303px;
            //width: 290px;
            .project-advantage {
              margin-right: 17px;
            }
            .project-advantage:last-child {
              margin-right: 8px;
            }
          }

          .project-action-download, .project-action {
            margin-left: 0;
          }
        }
      }


      .modern-house-004 {
        display: block;
        position: relative;
        margin-bottom: 310px;
        padding-left: 17px;

        .project-title-block1 {
          margin-top: 900px;
        }

        .project-block2 {
          position: absolute;
          top: -270px;

          .project-text {
            width: 283px;
          }

          .project-advantages-items {
            max-width: 305px;
            margin-left: 0;

            .project-advantage {
              margin-right: 17px;
            }
          }

          .project-action-download, .project-action {
            margin-left: 0;
          }
        }

        .project-block1 {
          position: absolute;
          max-width: 290px;
          top: 50px;

          .project-gallery-items {
            max-width: 290px;

            .project-gallery-item {
              .project-gallery-item-one {
                max-width: 290px;
              }
            }

            .gallery-three {
              max-width: 290px;
              margin-bottom: 0;
            }
          }
        }
      }
    }

    .project-more {
      padding-bottom: 80px;

      .project-show-more {
        margin-top: 500px;
      }

      #showMoreChevron {
        margin-top: 500px;
      }
    }

    .container {
      .modern-house-005 {
        position: relative;

        .project-title {
          padding-left: 6px;
        }

        .project-title-block1 {
          margin-top: -55px;
          margin-left: -33px;
        }

        .project-block1 {
          position: absolute;
          margin-top: -5px;
          margin-left: -26px;

          .project-gallery-items {
            .project-gallery-item-one {
              max-width: 290px;

              .project-gallery-item {
                max-width: 290px;
              }
            }

            .gallery-three {
              max-width: 288px;
            }
          }
        }

        .project-block2 {
          position: absolute;
          margin-top: 330px;

          .project-text {
            //paddin-left: 0;
            margin-left: -27px;
            margin-top: -45px;
          }

          .project-advantages-items {
            max-width: 315px;
            width: 315px;
            padding-left: 0;
            margin-left: -40px;

            .project-advantage {
              margin-right: 17px;
            }
          }

          .project-action, .project-action-download {
            margin-left: -145px;
          }
        }
      }

      .modern-house-006 {
        //display: block;
        position: relative;
        margin-top: 790px;
        margin-left: -43px;

        .project-title-block1 {
          margin-top: -30px;
          margin-left: 67px;
        }

        .project-block1 {
          position: absolute;
          margin-top: 13px;
          margin-left: 67px;

          .project-gallery-items {
            .project-gallery-item-one {
              max-width: 290px;

              .project-gallery-item {
                max-width: 290px;
              }
            }

            .gallery-three {
              max-width: 288px;
            }
          }
        }

        .project-block2 {
          position: absolute;
          margin-top: 305px;

          .project-text {
            max-width: 290px;
            width: 290px;
            margin-left: 68px;
          }

          .project-advantages-items {
            max-width: 315px;
            width: 315px;
            padding-left: 0;
            margin-left: 55px;

            .project-advantage {
              margin-right: 17px;
            }
          }

          .project-action-download, .project-action {
            margin-left: 63px;
            max-width: 295px;
            width: 295px;
          }

        }
      }

      .modern-house-007 {
        //display: block;
        position: relative;
        margin-top: -100px;
        margin-left: 86px;

        .project-title-block1 {
          margin-top: 880px;
        }

        .project-block1 {
          position: absolute;
          margin-top: -8px;

          .project-gallery-items {
            .project-gallery-item-one {
              max-width: 295px;
              width: 295px;

              .project-gallery-item {
                max-width: 295px;
                width: 295px;
              }
            }

            .gallery-three {
              max-width: 295px;
            }
          }

        }

        .project-block2 {
          position: absolute;
          margin-top: 280px;

          .project-text {
            max-width: 290px;
            width: 290px;
          }

          .project-advantages-items {
            max-width: 305px;
            width: 305px;
            padding-left: 0px;
            margin-left: -8px;

            .project-advantage {
              margin-right: 17px;
            }
          }

          .project-action, .project-action-download {
            margin-left: -46px;
            max-width: 295px;
            width: 295px;
          }

        }
      }
    }

  }


  //Блок 3 Технологии строительства
  .technologies {
    padding: 0 0 83px 0;

    .title {
      padding-bottom: 42px;
    }

    h2 {
      font-size: 30px;
      width: 320px;
    }

    .container {
      .techno-image {
        //margin-top: 650px;
      }

      .techno-items {
        .techno-item1 {
          left: -172px;
          top: 63px;

          .techno-item {
            .techno-item-cycle {
              width: 23px;
              height: 23px;

              .techno-item-ball {
                width: 15px;
                height: 15px;
                top: 18%;
                left: 18%;
              }
            }
          }
        }

        .techno-item2 {
          position: absolute;
          margin-left: 10px;
          left: 0;

          .techno-item {
            margin-left: 0;
            margin-top: -120px;

            .techno-item-cycle {
              margin-left: 210px;
              margin-top: -50px;
              width: 23px;
              height: 23px;

              .techno-item-ball {
                width: 15px;
                height: 15px;
                top: 18%;
                left: 18%;
              }
            }
          }
        }

        .techno-item3 {
          top: 145px;
          left: 30px;

          .techno-item {
            margin-top: 120px;

            .techno-item-cycle {
              width: 23px;
              height: 23px;

              .techno-item-ball {
                width: 15px;
                height: 15px;
                top: 18%;
                left: 18%;
              }
            }
          }
        }

        .techno-item4 {
          left: 194px;
          top: 150px;

          .techno-item {
            margin-top: 112px;
            margin-left: 39px;

            .techno-item-cycle {
              margin-left: 0;
              margin-top: 0;
              width: 23px;
              height: 23px;

              .techno-item-ball {
                width: 15px;
                height: 15px;
                top: 18%;
                left: 18%;
              }
            }
          }
        }

        .techno-item5 {
          top: 230px;
          left: 107px;
          width: 100px;

          .techno-item {
            margin-left: 0;

            .techno-item-cycle {
              margin-left: 0;
              margin-top: 0;
              width: 23px;
              height: 23px;

              .techno-item-ball {
                width: 15px;
                height: 15px;
                top: 18%;
                left: 18%;
              }
            }
          }
        }

      }

      .techno-grid {
        grid-template-columns: repeat(1, 1fr);
        padding: 21px 16px 19px 16px;
        background: #313139;
        margin: 15px -15px;

        .techno-grid-item {
          display: none;
        }

        .techno-item-active {
          display: block;
          background-color: #313139;
          position: relative;

          .item-header {
            font-size: 16px;
            margin-top: -60px;
            position: relative;
            z-index: 2;
          }

          .item-text {
            font-size: 14px;
            position: relative;
            z-index: 2;
          }

          .techno-square {
            width: 58px;
            height: 58px;
            background-color: #313139;
            top: -20px;
            left: 90px;
            transform: rotate(45deg);
            position: relative;
            z-index: 1;
          }
        }
      }

    }
  }

  //Блок 4 6 шагов к вашему новому дому
  .six-steps {
    .container {
      .steps-items {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 100px;
        margin-left: -30px;

        .steps-item {
          width: 295px;

          .steps-item-desc {
            width: 190px;

            .item-text {
              //display: inline;
              .item-text-under {
                font-size: 16px;
                font-family: MuseoSansCyrl700, sans-serif;
              }
            }
          }

          .steps-item-desc-02 {
            width: 215px;
          }
        }
      }
    }
  }

  //Блок 5 Построили более 200 домов за 10 лет
  .built-houses {
    padding-bottom: 35px;

    .container {
      .card {
        .slider {
          //временно отключить карусель!
          //display: none;

          .item {
            .item-inner {
              width: 330px;

              .item-inner-desc {
                max-width: 248px;
                display: inline-flex;

                .item-inner-text {
                  h4 {
                    padding-bottom: 10px;
                  }
                }

                .item-inner-text1 {
                  padding-left: 0;
                  max-width: 124px;

                  p {
                    font-family: MuseoSansCyrl100, sans-serif;
                  }
                }

                .item-inner-line {
                  margin-left: 12px;
                }

                .item-inner-text2 {
                  padding-left: 0;

                  .item-inner-text2-2 {
                    padding-left: 0;

                    p {
                      font-family: MuseoSansCyrl100, sans-serif;
                    }

                    .item-inner-text2-m2 {
                      padding-top: 10px;
                    }
                  }
                }
              }
            }
          }
        }

        .slider:hover .slick-prev {
          left: -10px;
        }

        .slider:hover .slick-next {
          right: -10px;
        }

        .slick-list {
          padding-top: 0 !important;
        }
      }
    }
  }

  //Блок 6 Гарантии и условия оплаты
  .guarant {
    .guarant-title {
      display: block;
      padding-top: 0;
      padding-bottom: 40px;

      h2 {
        font-size: 30px;
        max-width: 231px;
        margin: auto;
        padding-bottom: 5px;
      }

      .guarant-title-two {
        padding: 0 0 40px 0;
        max-width: 270px;
      }
    }

    .container {
      max-width: 320px;

      .guarant-2items {
        padding-bottom: 40px;

        .guarant-2item {
          padding: 30px 0 31px 20px;
          margin-bottom: 20px;

          .guarant-item-desc {
            padding-left: 32px;

            .item-header {
              font-size: 16px;
            }

            .item-text {
              font-size: 14px;
            }
          }
        }
      }

      .guarant-3items {
        display: flex;
        flex-direction: column;

        .guarant-3item {
          //padding-bottom: 40px;
        }

        .guarant-3item-1 {
          order: 2;
        }

        .guarant-3item-2 {
          order: 1;
        }

        .guarant-3item-3 {
          order: 3;
        }

        .guarant-item-desc {
          .item-header {
            font-size: 16px;
          }

          .item-text {
            max-width: 270px;
            margin: auto;
          }
        }
      }
    }
  }

  //Блок 7 Получите индивидуальную консультацию
  .consult {
    padding-bottom: 550px;

    .container {
      margin-left: 17px;

      .consult-block1 {
        .consult-gallery-items {
          .consult-gallery-item {
            img {
              //max-width: 305px;
              display: none;
            }
          }
        }
      }

      .consult-block2 {
        max-width: 290px;

        h2 {
          font-size: 30px;
        }

        .consult-advantages-items {
          .consult-assent {
            max-width: 285px;
            padding-left: 2px;

            .consult-assent-box img {
              margin-top: -3px;
            }
          }
        }

        .thank-you {
          .thank-you-text {
            width: 305px;
          }
        }

      }
    }
  }

  //Блок 8 Запишитесь на экскурсию
  .excursion {
    .container {
      position: relative;

      .excursion-image {
        position: absolute;
        //background-image: url("images/background8.png");
        img {
          margin-top: -41px;
          max-width: 149%;
          margin-left: -219px;
          padding-left: 92px;
        }

        //background-image: url("images/background8.png");
        //background-size: cover;
        //background-position: center;
        //max-width: 100%;
      }

      .excursion-block {
        position: relative;
        width: 305px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .excursion-header {
          font-size: 30px;
          position: absolute;
          margin-top: -248px;
          z-index: 100;
          width: 220px;
        }

        .excursion-text {
          position: absolute;
          margin-top: -37px;
          font-size: 16px;
          z-index: 100;
        }

        .excursion-action {
          padding-top: 270px;
          z-index: 100;
          position: relative;
          padding-bottom: 90px;
        }
      }
    }
  }

  .footer {
    padding-bottom: 80px;

    .container {
      flex-direction: column-reverse;
      position: relative;

      .request-call {
        position: absolute;
        top: 300px;

        span {
          font-size: 18px;
        }
      }

      .footer-logo-social {
        //padding-bottom: 52px;

        .logo img {
          padding-bottom: 47px;
        }
      }

      .footer-address {
        //padding-bottom: 49px;
        font-size: 16px;
        order: -1;

        .footer-address-text {
          padding-bottom: 15px;
        }

        .footer-address-office-hours {
          padding-bottom: 49px;
          text-align: center;
        }
      }
    }
  }

}