/* 769 - 620 */
@media screen and (max-width: 769px) {

  //Блок 1 Строительство домов и коттеджей под ключ
  .main {
    .menu-navicon {
      width: calc(41% - 20px);
      //.menu-navicon-ground {
      //  ul {
      //    .menu-item {
      //      a {
      //
      //      }
      //    }
      //  }
      //}
    }

    .main-block {
      .container {
        .social {
          display: none;
        }
      }
    }
  }

  //Блок 3 Технологии строительства
  .technologies {
    .container {
      .techno-items {
        .techno-item4 {
          left: 300px;
          width: 0;

          .techno-item {
            .techno-item-cycle {
              margin-left: 130px;
            }
          }
        }

        .techno-item5 {
          left: 340px;
        }
      }
    }
  }

  //Блок 4 6 шагов к вашему новому дому
  .six-steps {
    .container {
      .steps-items {
        column-gap: 10px;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 130px;
      }
    }
  }

  //Блок 7 Получите индивидуальную консультацию
  .consult {
    padding-bottom: 255px;

    .container {
      .consult-block1 {
        .consult-gallery-items {
          .consult-gallery-item {
            img {
              max-width: 560px;
            }
          }
        }
      }
    }
  }

}