/* 1600 - 1390 */
@media screen and (max-width: 1600px) {

  //Блок 1 Строительство домов и коттеджей под ключ
  .main {
    .main-block {
      .container {
        .social {
          //left: 745px;
          left: calc(55% - -28vw);
        }
      }
    }
  }

  //Блок 2 Наши проекты
  .projects {

    .container {
      .project-block1 {
        width: 590px;
        max-width: 590px;

        .project-gallery-items {
          .project-gallery-item {
            .project-gallery-item-one {
              img {
                padding: 0;
              }
            }
          }

          .gallery-three {
            display: inline-flex;
            gap: 20px;
          }

        }
      }

      .modern-house-004 {
        .project-block1 {
          //max-width: 350px;
          .project-gallery-items {
            .project-gallery-item {
              //text-align: left;
              .gallery-three {
                //display: inline-flex;
                //gap: 20px;
              }

              .project-gallery-item-one {
                //max-width: 87%;
              }
            }
          }

          .project-gallery-item-three {
            //max-width: 160px;
          }
        }
      }
    }
  }

  //Блок 4 6 шагов к вашему новому дому
  .six-steps {
    background-color: #25252d;

    .container {
      &.container-six-steps {
        margin-left: auto;
      }
    }
  }

}