/* 1390 - 1280 */
@media screen and (max-width: 1390px) {


  .project-gallery-item-one {
    width: 588px;
    height: 367px;
  }

  //Блок 2 Наши проекты
  .projects {
    .container {
      justify-content: start;

      .project-block1 {
        .project-advantages-items {
          .project-advantage {
            margin-right: 40px;
          }

          .project-gallery-item {
            .project-gallery-item-one {
              img {
                padding: 0;
              }
            }
          }
        }
      }

      .project-block2 {
        .project-advantages-items {
          .project-advantage {
            margin-right: 40px;
          }
        }
      }

      .modern-house-003 {
        .project-block2 {
          margin-left: 90px;
          max-width: 470px;
          width: 470px;
          //padding-left: 40px;

          .project-text {
            //max-width: 350px;
            //margin-left: 95px;
          }

          .project-advantages-items {
            //padding: 50px 0 0 30px;
            max-width: 440px;
            width: 440px;

            .project-advantage {
              margin-right: 40px;

              &:last-child {
                margin-right: 10px;
              }
            }
          }
        }
      }

      .modern-house-004 {
        .project-block1 {
          //max-width: 350px;
          max-width: 106%;
          margin-left: 25px;

          .project-gallery-item {
            text-align: left;

            .project-gallery-item-one {
              //max-width: 525px;
            }
          }

          .project-gallery-item-three {
            max-width: 180px;
          }
        }
      }

      .modern-house-005 {
        .project-block2 {
          .project-advantages-items {
            margin-left: -35px;
          }
        }
      }

      .modern-house-006 {
        .project-block1 {
          .project-gallery-items {
            .project-gallery-item-one {
              //max-width: 588px;
              width: 588px;
            }

            .gallery-three {
              max-width: 105%;
            }
          }
        }
      }

    }
  }

  //Блок 3 Технологии строительства
  .technologies {
    .container {
      .techno-items {
        .techno-item1 {
          .techno-item {
            .techno-item-desc {
              margin-left: 45px;
            }

            .techno-item-line1 {
              margin-left: 270px;
              width: 125px;
            }
          }
        }

        .techno-item2 {
          .techno-item {
            .techno-item-line1 {
              width: 75px;
            }

            .techno-item-desc2 {
              margin: -53px 0 0 -61px;
              max-width: 147px;
            }
          }
        }

        .techno-item4 {
          .techno-item {
            .techno-item-desc {
              .item-header {
                max-width: 140px;
              }
              .item-text{
                max-width: 140px;
              }
            }
          }
        }

      }
    }

  }

  //Блок 4 6 шагов к вашему новому дому
  .six-steps {
    .container {
      .steps-items {
        .steps-item {
          width: 320px;
        }
      }
    }
  }

}