/* 1280 - 1100 */
@media screen and (max-width: 1280px) {

  //Блок 1 Строительство домов и коттеджей под ключ
  .main {
    .menu-navicon {
      width: calc(41% - 90px);

      .menu-navicon-ground {
        padding-left: calc(50% - 125px);
      }
    }

    .main-block {
      .container {
        .social {
          //left: 745px;
          left: calc(55% - -40vw);
        }
      }
    }

    .header {
      .container {
        .menu-graph {
          padding-left: 40px;
        }

        .request-call {
          margin-right: 50px;
        }
      }
    }
  }

  //Блок 2 Наши проекты
  .gallery-three,
  .project-gallery-item-one {
    max-width: 512px;
    width: 512px;
  }


  .project-block1 {
    margin-left: 30px;
  }


  //Блок 2 Наши проекты
  .projects {
    .container {
      grid-column-gap: calc(3px + 10 * (100vw / 1600));

      .modern-house-003 {
        .project-block1 {
          //margin-left: 30px;

          .project-gallery-items {
            .project-gallery-item {
              .project-gallery-item-one {
                //max-width: 512px;
                //width: 512px;
              }
            }
          }

          .gallery-three {
            //max-width: 512px;
          }
        }

        .project-block2 {
          margin-left: 85px;
          max-width: 400px;
          width: 400px;
          //padding-left: 40px;

          .project-text {
            max-width: 465px;
            width: 465px;
            //margin-left: 95px;
          }
        }
      }

      .modern-house-004 {
        .project-block1 {
          max-width: 512px;

          .project-gallery-items {
            display: inline-block;
            max-width: 100%;

            .project-gallery-item {
              .project-gallery-item-one {
                //max-width: 100%;
              }
            }

            .gallery-three {
              //max-width: 100%;
            }
          }
        }

        .project-block2 {
          margin-left: 30px;
        }
      }

      .modern-house-005 {
        .project-block1 {
        }

        .project-block2 {
          margin-left: 30px;
          max-width: 460px;
          width: 460px;

          .project-advantages-items {
            margin-left: -40px;
          }
        }
      }

      .modern-house-006 {
        .project-block1 {
          //max-width: 100%;

          .project-gallery-items {
            //display: inline-block;

            //.project-gallery-item {
            .project-gallery-item-one {
              //max-width: 81%;
            }

            //}
            .gallery-three {
              //max-width: 81%;
            }
          }
        }

        .project-block2 {
          margin-left: 20px;
          margin-right: 30px;
        }
      }

      .modern-house-007 {
        .project-block1 {
        }

        .project-block2 {
          //margin-left: 0px;
          //max-width: 460px;
          //width: 460px;

          .project-advantages-items {
            margin-left: -40px;
          }
        }
      }

      .project-block1 {
        .project-gallery-items {
          .project-gallery-item {
            .project-gallery-item-one {
              img {
                padding: 0;
              }
            }
          }
        }
      }

      .project-block2 {
        //padding-left: 35px;

        .project-advantages-items {
          padding: 50px 0 50px 0px;
          //max-width: 400px;
          //width: 400px;

          //.project-advantage {
          //  &:last-child {
          //    margin-right: 70px;
          //  }
          //}
          .project-advantage {
            margin-right: 40px;
          }
        }
      }
    }
  }


  //Блок 3 Технологии строительства
  .technologies {
    .container {
      .techno-items {

        .techno-item1 {
          .techno-item {
            .techno-item-cycle{
              margin-left: 403px;
            }
            .techno-item-desc {
              margin-left: 85px;
            }
          }
        }

        .techno-item2 {
          width: 127px;
          //margin-left: -60px;
          margin-left: calc(-60px + 3%);

          .techno-item {
            .techno-item-desc2 {
              width: min-content;
            }
          }
        }

        .techno-item3 {
          .techno-item {
            .techno-item-desc3 {
              width: 180px;
              margin-left: 41px;
            }
          }
        }

        .techno-item4 {
          .techno-item {
            .techno-item-line1 {
              width: 150px;
            }

            .techno-item-desc {
              margin-left: calc(-20px + 3%);

              .item-header {
                width: 160px;
              }

              .item-text {
                width: 160px;
              }
            }

            .techno-item-desc4 {
              width: min-content;
            }
          }
        }

      }
    }

  }


  //Блок 4 6 шагов к вашему новому дому
  .six-steps {
    .container {
      .container-six-steps {
        display: flex;

        .steps-items {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        }
      }

      .steps-items {
        .steps-item {
          margin-left: 30px;
        }
      }
    }
  }


  //Блок 5 Построили более 200 домов за 10 лет
  .built-houses {
    .container {
      .card {
        width: 97%;

        .slider {
          .slick-next {
            margin-right: calc(10px + 2%);
          }

          .slick-prev {
            margin-left: calc(20px + 3%);
          }

          .slick-dots {
            margin-left: 0;
          }
        }
      }
    }
  }


  //Блок 6 Гарантии и условия оплаты
  .guarant {
    .container {
      .guarant-2items {
        grid-template-columns: repeat(auto-fill, minmax(320px, 500px));
        justify-content: space-evenly;
      }
    }
  }


  //Блок 7 Получите индивидуальную консультацию
  .consult {
    .container {
      justify-content: space-evenly;

      .consult-block2 {
        h2 {
          margin: 65px 0 41px 0;
        }
      }

    }
  }

  //Блок 8 Запишитесь на экскурсию
  .excursion {
    .container {
      .order-contacts {
        .consult-assent {
          padding-left: 97px;
        }
      }
    }
  }

}

