/* 425 - 380 */
@media screen and (max-width: 425px) {

  //Блок 1 Строительство домов и коттеджей под ключ
  .main {
    .menu-navicon {
      .menu-navicon-ground {
        .social {
          .logo-teleg {
            padding: 0 18px;
          }
        }
      }
    }
  }

  //Блок 2 Наши проекты
  .projects {
    .container {
      max-width: 380px;

      .project-block1 {
        .project-gallery-items {
          .project-gallery-item {
            max-width: 380px;
          }
        }
      }

      .modern-house-003 {
        .project-title-block1 {
          padding-left: 30px;
        }

        .project-block1 {
          .gallery-three, .project-gallery-item-one {
            max-width: 380px;
          }
        }

        .project-block2 {
          width: 380px;

          .project-text {
            max-width: 380px;
          }

          .project-advantages-items {
            max-width: 380px;
            width: 380px;
          }
        }
      }

      .modern-house-004 {
        .project-block1 {
          .project-gallery-items {
            .project-gallery-item {
              .project-gallery-item-one {
                max-width: 380px;
              }
            }

            .gallery-three {
              max-width: 380px;
            }
          }
        }

        .project-block2 {
          margin-left: 0;

          .project-text {
            max-width: 380px;
            width: 380px;
            margin-left: 0;
          }
        }
      }

      .modern-house-005 {
        max-width: 380px;

        .project-title {
          padding-left: 0;
        }

        .project-title-block1 {
        }

        .project-block1 {
          margin-left: 0;

          .project-gallery-items {
            .project-gallery-item-one {
              max-width: 380px;
              width: 380px;

              .project-gallery-item {
                max-width: 380px;
                width: 380px;
              }
            }

            .gallery-three {
              max-width: 380px;
            }
          }
        }

        .project-block2 {
          max-width: 380px;
          margin: 0;

          .project-text {
            max-width: 380px;
            padding-left: 0;
          }

          .project-advantages-items {
            max-width: 380px;
            width: 380px;
            margin-left: -40px;

            .project-advantage:last-child {
              margin-right: 0;
            }
          }

          .project-action-download, .project-action {
          }
        }
      }

      .modern-house-006 {
        max-width: 380px;
        width: 380px;

        .project-title-block1 {
        }

        .project-block1 {
          .project-gallery-items {
            .project-gallery-item-one {
              max-width: 380px;
              width: 380px;

              .project-gallery-item {
                max-width: 380px;
              }
            }

            .gallery-three {
              max-width: 380px;
            }
          }
        }

        .project-block2 {
          .project-text {
            max-width: 380px;
            width: 380px;
          }

          .project-advantages-items {
            padding-left: 0;

            .project-advantage {
            }

            .project-advantage:last-child {
            }
          }

          .project-action-download, .project-action {
            padding-left: 0;
          }
        }
      }

      .modern-house-007 {
        max-width: 380px;
        width: 380px;

        .project-title {
          margin-left: 22px;
        }

        .project-block1 {
          max-width: 380px;
          width: 380px;

          .project-gallery-items {
            max-width: 380px;
            width: 380px;

            .project-gallery-item-one {
              max-width: 380px;
              width: 380px;

              .project-gallery-item {
                max-width: 380px;
                width: 380px;
              }
            }

            .gallery-three {
              max-width: 380px;
              width: 380px;
            }
          }
        }

        .project-block2 {
          max-width: 380px;
          width: 380px;

          .project-text {
            max-width: 380px;
            width: 380px;
            //margin-left: 22px;
          }

          .project-advantages-items {
            max-width: 380px;
            width: 380px;
          }

          .project-action-download, .project-action {
            padding-left: 45px;
          }
        }
      }

    }
  }

  //Блок 7 Получите индивидуальную консультацию
  .consult {
    margin-bottom: 20px;
    .container {
      .consult-block2 {
        .consult-advantages-items .consult-assent {
          padding-left: 45px;
        }
      }
    }
  }

  //Блок 8 Запишитесь на экскурсию
  .excursion {
    .container {

      //.thank-you {
      //  padding-top: 150px;

        .thank-you-excur {
          padding-top: 200px;
          margin-top: 80px;
        }
      //}

      .order-contacts {
        width: 330px;

        .order-text {
          font-size: 14px;
          width: 300px !important;
        }

        .consult-assent {
          padding-left: 25px;
        }

        .order-contacts-cancel {
          img {
            width: 15px;
          }
        }
      }

    }
  }

}